/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15rem;
  height: 100vh;

}

/* Header Styles */
.header {
  padding: 40px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  align-items: center;
}

.header-text {
  max-width: 600px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/* Image and Button Styles */
.image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.open-modal-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.open-modal-button:hover {
  background-color: #0056b3;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}